<header class="header">
    <div class="header-container">
        <nav class="nav-menu">
            <a href="/index.html" class="nav-menu-logo">
                <svg class="logo-icon" width="16" height="16">
                    <use href="/img/icons.svg#logo-icon"></use>
                </svg>
                <svg class="logo-text" width="130" height="12">
                    <use href="/img/icons.svg#logo-text"></use>
                </svg>
            </a>
            <div class="nav-menu-pc">
                <ul class="nav-menu-list">
                    <li class="nav-menu-item"><a href="" class="nav-menu-link">How it works</a></li>
                    <li class="nav-menu-item"><a href="" class="nav-menu-link">Vegetables</a></li>
                    <li class="nav-menu-item"><a href="" class="nav-menu-link">Reviews</a></li>
                </ul>
                <button type="button" class="btn-shop">Shop now</button>
            </div>
            <button type="button" class="btn-menu">
                <svg class="btn-menu-icon" width="32" height="32">
                    <use href="/img/icons.svg#burger"></use>
                </svg>
            </button>
        </nav>

    </div>
</header>