<section class="how-it-wrapper" id="how-it-works">
  <div class="container-how-it-work">
    <div class="how-it-works">
      <h2 class="visually-hidden">how-it-works</h2>
      <div class="mob-img">
        <picture>
          <source
            srcset="
              /img/how-it-works/how-it-works-desktop@2x.webp 2x,
              /img/how-it-works/how-it-works-desktop.webp    1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/how-it-works/how-it-works-tablet@2x.webp 2x,
              /img/how-it-works/how-it-works-tablet.webp    1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/how-it-works/how-it-works-mobile@2x.webp 2x,
              /img/how-it-works/how-it-works-mobile.webp    1x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/how-it-works/how-it-works-mobile.webp"
            alt="how-it-works"
            class="mobile-img"
          />
        </picture>
      </div>
    </div>

    <div class="how-it-text">
      <h2 class="text-order">
        To order your <span class="order-word">vegetable</span> basket, simply
        follow these <span class="order-word">easy steps</span>
      </h2>
      <p class="baskets">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="buy-list">
        <li class="step-list">
          Just choose <span class="step-text">the vegetable</span> you want to
          order by clicking on the checkboxes
          <span class="step-text">next to it</span>.
        </li>
        <li class="step-list">
          Click on <span class="step-text">the basket</span> and fill out the
          form.
        </li>
        <li class="step-list">
          Sit back and relax! Your
          <span class="step-text">fresh vegetables</span> basket will be
          delivered.
        </li>
      </ol>
    </div>
  </div>
</section>
