<div class="mobile_menu js-menu-container" id="mobile-menu">
  <div class="container mobile_menu_container">
    <button type="button" class="mobile_menu_close_btn js-close-menu">
      <svg class="mobile_menu_close_icon" width="16" height="16">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
    <nav class="nav-mobile-menu">
      <ul class="mobile_menu_list">
        <li class="mobile_menu_list_item">
          <a href="#how-it-works" class="mobile_menu_list_item_link link_extra"
            >How it works</a
          >
        </li>
        <li class="mobile_menu_list_item">
          <a href="#vegetables" class="mobile_menu_list_item_link"
            >Vegetables</a
          >
        </li>
        <li class="mobile_menu_list_item">
          <a href="#reviews" class="mobile_menu_list_item_link">Reviews</a>
        </li>
      </ul>
      <a href="#your-order" class="mobile_menu_link">shop now</a>
    </nav>
  </div>
</div>
