address{
font-family: "Inter Tight", sans-serif;
}
footer {
    font-family: "Inter Tight", sans-serif;
    background-color: #7A3145;
    padding: 20px 40px 20px 40px;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 80px;
}

.container-footer-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 14px;
}

.footer-link-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
}
.footer-logo-icon {
    fill: #fff;
}

.footer-logo-text-icon {
    fill: #fff;
}

.footer-text{ 
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    max-width: 335px;

}

.footer-menu-nav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}    

.footer-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
} 

.footer-menu-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
}

.footer-address {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 14px;
}

.address-link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
}

.address-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.42857;
    color: #fbfbfb;
    max-width: 179px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer-privacy-policy {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.footer-privacy-policy-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    color: #d4bfc4;
}


@media only screen and (min-width: 768px) {
    address {
            font-family: "Inter Tight", sans-serif;
        }
    footer {
        padding: 32px;
    }

   .container-footer {
    margin-bottom: 100px;
    gap: 0;
   }
.container-footer-logo {
    gap: 24px;
}
.footer-logo-icon {
    width: 20px;
    height: 20px;
}

.footer-logo-text-icon {
    width: 186px;
    height: 17px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.25;
}
.footer-menu-nav {
    margin-left: auto;
    gap: 64px;
}

.footer-address {
    gap: 24px;
}

.address-link {
    font-size: 16px;
    line-height: 1.25;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.address-text {
    font-size: 16px;
    line-height: 1.25;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.footer-privacy-policy {
justify-content: space-between;
flex-direction: row;
gap: 0;
}
}

@media only screen and (min-width: 1280px) {
address {
        font-family: "Inter Tight", sans-serif;
    }
    footer {
        padding: 52px 100px;
    }
  .container-footer {
   flex-wrap: nowrap;
   margin-bottom: 124px;
  }

 .footer-menu-nav {
    margin-left: auto;
flex-direction: row;
gap: 121px;
}
.container-footer-logo {
    gap: 24px;
}
.footer-menu-list {
    gap: 24px;
}

.footer-address {
    gap: 24px;
}
}