/* Мобільна версія */

.hero-comtainer {
  background: #576f35;
  max-width: 375px;
  padding: 100px 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  min-width: 320px;
}

.container-hero-ferst {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

@media screen and (max-width: 374.97px) {
  .hero-title {
    font-size: 43px;
  }
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}

.hero-backgroud {
  background-image: url('/img/hero/bg-mobile.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 372px;
}

@media screen and (min-resolution: 2x) {
  .hero-backgroud {
    background-image: url('/img/hero/bg-mobile@2x.webp');
  }
}

@media screen and (min-width: 768px) {
  .hero-comtainer {
    gap: 52px;
    padding: 120px 0px 0px 0px;
    max-width: 768px;
  }

  .container-hero {
    width: 704px;
    gap: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-title {
    font-size: 76px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }

  .hero-backgroud {
    width: 100%;
    height: 536px;
    background-image: url('/img/hero/bg-tablet.webp');
  }

  @media screen and (min-resolution: 2x) {
    .hero-backgroud {
      background-image: url('/img/hero/bg-tablet@2x.webp');
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-comtainer {
    padding: 0px 0px 0px 100px;
    max-width: 1280px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 38px;
  }

  .container-hero-ferst {
    display: flex;
    flex-direction: row;
  }

  .hero-text {
    max-width: 472px;
    letter-spacing: 0.01em;
  }

  .container-hero {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 0px 0px 52px 0px;
    max-width: 502px;
  }

  .hero-backgroud {
    width: 640px;
    height: 796px;
    background-image: url('/img/hero/bg-desktop.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-resolution: 2x) {
    .hero-backgroud {
      background-image: url('/img/hero/bg-desktop@2x.webp');
    }
  }
}
