.vegetables {
  background-color: #7a3145;
  padding: 80px 0;
  min-width: 320px;
}

.vegetables-container {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.vegetables-header {
  max-width: 335px;
  margin-bottom: 40px;
}
.organic-vegetables {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

@media screen and (max-width: 374.97px) {
  .organic-vegetables {
    font-size: 43px;
  }
}

.organic {
  color: #fbfbfb;
}
.veg {
  color: #d4bfc4;
}
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}
.product-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product {
  max-width: 335px;
  height: 376px;
  border-radius: 40px;
  padding: 32px 24px;
  background: #fbfbfb;
}
.product-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-bottom: 12px;
}
.price {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .vegetables {
    padding: 100px 0;
  }

  .vegetables-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .vegetables-header {
    max-width: 626px;
    margin-bottom: 52px;
  }

  .organic-vegetables {
    font-size: 64px;
    line-height: 1;
    margin-bottom: 24px;
  }

  .description {
    font-size: 16px;
    line-height: 1.25;
  }

  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 28px;
  }
  .product {
    padding: 32px 30px;
    max-width: none;
    width: calc((100% - 24px) / 2);
    height: 380px;
  }
  .product-name {
    font-size: 32px;
  }
  .price {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .vegetables-container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .product {
    padding: 32px 32px;
    width: calc((100% - 48px) / 3);
  }
}
.price {
  margin-bottom: 8px;
}
